<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright 2018 Louis S.Berman.

This file is part of TumbleDown.

TumbleDown is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published 
by the Free Software Foundation, either version 3 of the License, 
or (at your option) any later version.
//
TumbleDown is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU 
General Public License for more details.
//
You should have received a copy of the GNU General Public License
along with TumbleDown.  If not, see <http://www.gnu.org/licenses/>.
-->
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="Verbose"
            value="${message}${exception:format=ToString}"/>
  <variable name="OneLine"
            value="${replace:inner=${Verbose}:searchFor=\\r\\n|\\n:replaceWith=; :regex=true}"/>
  <variable name="Company"
            value="SquidEyes" />
  <variable name="AppName"
            value="TumbleDown" />
  <variable name="BasePath"
            value="${specialfolder:LocalApplicationData}\${Company}\${AppName}\Logs" />
  <targets>
    <target xsi:type="ColoredConsole"
            name="console"
            encoding="utf-8">
      <layout xsi:type="CSVLayout"
              delimiter="Tab"
              withHeader="False"
              quoting="Nothing">
        <column name="Time"
                layout="${time}" />
        <column name="Level"
                layout="${level}" />
        <column name="Message"
                layout="${OneLine}" />
      </layout>
    </target>
    <target name="file"
            xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper"
              retryDelayMilliseconds="3000"
              retryCount="10">
        <target xsi:type="File"
                fileName="${BasePath}\${replace:inner=${AppName}:searchFor=.:replaceWith=_:regex=false}_${date:format=yyyyMMdd}.log"
                encoding="utf-8">
          <layout xsi:type="CSVLayout"
                  delimiter="Tab"
                  withHeader="False">
            <column name="DateTime"
                    layout="${date:format=MM/dd/yyyy HH\:mm\:ss.fff}" />
            <column name="Level"
                    layout="${level}" />
            <column name="Message"
                    layout="${OneLine}" />
          </layout>
        </target>
      </target>
    </target>
    <target xsi:type="Null"
            name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*"
            minlevel="Trace"
            writeTo="blackhole"
            final="true" />
    <logger name="*"
            minLevel="Info"
            maxLevel="Fatal"
            writeTo="file" />
    <logger name="*"
            minLevel="Trace"
            maxLevel="Fatal"
            writeTo="console" />
  </rules>
</nlog>